<!-- <div ng-controller="SidebarController as vm">
    <ht-sidebar when-done-animating="vm.sidebarReady()">
        <div class="sidebar-filler"></div>
        <div class="sidebar-dropdown"><a href="#">Menu</a></div>
        <div class="sidebar-inner">
            <div class="sidebar-widget"></div>
            <ul class="navi">
                <li class="nlightblue fade-selection-animation" ng-class="vm.isCurrent(r)"
                    ng-repeat="r in vm.navRoutes">
                    <a ui-sref="{{r.name}}"
                       ng-bind-html="r.settings.content"></a>
                </li>
            </ul>
        </div>
    </ht-sidebar>
</div> -->

<div ng-controller="SidebarController as vm">
    <ht-sidebar when-done-animating="vm.sidebarReady()">
        <div class="sidebar-inner">
            <ul class="navi">
                <li class="fade-selection-animation" ng-class="vm.isCurrent(r)" ng-repeat="r in vm.navRoutes">
                    <a ui-sref="{{r.name}}" ng-bind-html="r.settings.content"></a>
                </li>
            </ul>


            <h5>Groups:
                <small>Roommates</small>
            </h5>
            <h5>Friends:
                <small>None yet!</small>
            </h5>
            <h5>Invite friends!</h5>
            <input type="text" placeholder="Enter an email"/>
            <button class="btn btn-info btn-xs">Send</input>
        </div>
    </ht-sidebar>
</div>
