<!-- TODO: pull submit buttons to the right -->
<div class="row">
  <div class="col-md-5 col-md-offset-1">
    <form class="form-horizontal" ng-submit="register(user)">
      <fieldset>
        <legend>Register</legend>
        <div class="form-group">
          <label for="firstName" class="col-md-3 control-label">First Name</label>
          <div class="col-md-9">
            <input type="text" class="form-control" id="firstName" placeholder="First Name">
          </div>
          <label for="lastName" class="col-md-3 control-label">Last Name</label>
          <div class="col-md-9">
            <input type="text" class="form-control" id="lastName" placeholder="Last Name">
          </div>
        </div>
        <div class="form-group">
          <label for="inputEmail" class="col-md-3 control-label">Email</label>
          <div class="col-md-9">
            <input type="text" class="form-control" id="inputEmail" placeholder="Email" ng-model="user.email">
          </div>
        </div>
        <div class="form-group">
          <label for="inputPassword" class="col-md-3 control-label">Password</label>
          <div class="col-md-9">
            <input type="password" class="form-control" id="inputPassword" placeholder="Password"  ng-model="user.password">

          </div>
          <label for="inputPassword" class="col-md-3 control-label">Verify Password</label>
          <div class="col-md-9">

            <input type="password" class="form-control" id="passwordVerify" placeholder="Password">
          </div>

          <!-- <div class="form-group has-error">
            <label class="control-label" for="inputError">Input error</label>
            <input type="text" class="form-control" id="inputError">
          </div> -->

        </div>

        <div class="form-group">
          <div class="col-md-9 col-md-offset-3">
            <button type="submit" class="btn btn-primary">Register</button>
          </div>
        </div>
      </fieldset>
    </form>
  </div>

  <div class="col-md-5">
    <form class="form-horizontal" ng-submit="login()">
      <fieldset>
        <legend>Login</legend>
        <div class="form-group">
          <label for="inputEmail" class="col-md-2 control-label">Email</label>
          <div class="col-md-10">
            <input type="text" class="form-control" id="inputEmail" placeholder="Email" ng-model="loginEmail">
          </div>
        </div>
        <div class="form-group">
          <label for="inputPassword" class="col-md-2 control-label">Password</label>
          <div class="col-md-10">
            <input type="password" class="form-control" id="inputPassword" placeholder="Password" ng-model="loginPassword">
            <div class="checkbox">
              <label>
                <input type="checkbox"> Remember Me
              </label>
            </div>
          </div>
        </div>
        <!-- TODO: Error messages for incorrect login -->
        <div class="form-group">
          <div class="col-md-10 col-md-offset-2">
            <button type="submit" class="btn btn-primary">Login</button>
          </div>
        </div>
      </fieldset>
    </form>
  </div>
</div>
